{% extends "base.html" %}

{% block title %}Characters{% endblock %}

{% block contents %}

    <!-- Content -->

    <div class = "container">

        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>Characters</h2>
                <hr>
                <p>The characters in the Marvel Cinematic Universe come from all around planet Earth, but not only from
                    our planet, they also come from all sorts of different planets from different galaxies. From regular
                    humans to super humans to aliens to all the way gods. Here is a list of the major characters in the
                    MCU.
                </p>
            </div>
        </div>

        <div class="row text-center">

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/ironman.jpg" alt="Iron Man">
              <div class="card-body">
                <h4 class="card-title">Iron Man</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/blackwidow.jpg" alt="Black Widow">
              <div class="card-body">
                <h4 class="card-title">Black Widow</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/thor.jpg" alt="Thor">
              <div class="card-body">
                <h4 class="card-title">Thor</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/captainamerica.jpg" alt="Captain America">
              <div class="card-body">
                <h4 class="card-title">Captain America</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

        <div class="row text-center">

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/ironman.jpg" alt="Iron Man">
              <div class="card-body">
                <h4 class="card-title">Iron Man</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                    necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/captainamerica.jpg" alt="Captain America">
              <div class="card-body">
                <h4 class="card-title">Captain America</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente,
                    tempore debitis beatae culpa natus architecto.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/blackwidow.jpg" alt="Black Widow">
              <div class="card-body">
                <h4 class="card-title">Black Widow</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                    necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/thor.jpg" alt="Thor">
              <div class="card-body">
                <h4 class="card-title">Thor</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente,
                    tempore debitis beatae culpa natus architecto.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger">Find Out More!</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->
    </div>

{% endblock %}