{% extends "base.html" %}

{% block title %}My Watch List{% endblock %}

{% block contents %}

    <!-- Content -->

    <div class = "container">

        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>My Watch List</h2>
                <hr>
                <p>The characters in the Marvel Cinematic Universe come from all around planet Earth, but not only from
                    our planet, they also come from all sorts of different planets from different galaxies. From regular
                    humans to super humans to aliens to all the way gods. Here is a list of the major characters in the
                    MCU.
                </p>
            </div>
        </div>

        <div class="row text-center">

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/ironman1.jpeg" alt="Iron Man">
              <div class="card-body">
                <h4 class="card-title">Iron Man</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                    necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger mb-2">Find Out More!</a>
                <div class="bg">
                    <div>
                        <div class="chiller_cb">
                            <input id="myCheckbox1" type="checkbox" checked>
                            <label>Mark as watched</label>
                            <span></span>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Rate the movie</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/hulkmovie.jpg" alt="The Incredible Hulk">
              <div class="card-body">
                <h4 class="card-title">The Incredible Hulk</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger mb-2">Find Out More!</a>
                <div class="bg">
                    <div>
                        <div class="chiller_cb">
                            <input id="myCheckbox2" type="checkbox" checked>
                            <label>Mark as watched</label>
                            <span></span>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Rate the movie</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/captainamericathefirstavenger.jpg" alt="Captain America: The First Avenger">
              <div class="card-body">
                <h4 class="card-title">Captain America: The First Avenger</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger mb-2">Find Out More!</a>
                <div class="bg">
                    <div>
                        <div class="chiller_cb">
                            <input id="myCheckbox3" type="checkbox" checked>
                            <label>Mark as watched</label>
                            <span></span>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Rate the movie</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/images/thormovie.jpg" alt="Thor">
              <div class="card-body">
                <h4 class="card-title">Thor</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-danger mb-2">Find Out More!</a>
                <div class="bg">
                    <div>
                        <div class="chiller_cb">
                            <input id="myCheckbox4" type="checkbox" checked>
                            <label>Mark as watched</label>
                            <span></span>
                        </div>
                    </div>
                </div>
                <p class="mb-0">Rate the movie</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>

        </div>
    </div>
    <!-- /.row -->


{% endblock %}